.AboutUsBody {
    border-radius: 0%;
    text-align: left;
    margin-top: 3%;
}
.AboutUsbodyContact {
    display: flex;
    align-items: center;
    justify-content: center;
}
.AboutUsheader {
    font-size: 20px;
    margin-bottom: 20px;
    font-size: 23px;
     font-weight: bold;
}
.AboutUsImage
{
    max-width:  130%;

}