@import "../../../colors.scss";

.font13 {
  font-size: 13px;
  overflow-wrap: break-word;
}
.h70 {
  height: 70px;
}
.job_title {
  text-transform: capitalize;
}
.hiringteam {
  letter-spacing: -0.3px;
  line-height: 20px;
  color: rgb(77, 97, 130);
}
.smallanswerdiv {
  background-color: rgb(247, 250, 255);
  border: 1px solid rgb(204, 224, 255);
}
.smallanswerdiv > p {
  font-weight: 400;
  color: rgb(0, 20, 51);
}
.Appform {
  background-color: rgb(0, 30, 76);
}
