.css-rqgsqp {
    position: relative;
    z-index: 1;
  }
  .css-1qqgpv7 {
    background-color: rgb(0, 30, 76);
    height: 104px;
    margin-bottom: 50px;
  }
  
  .css-qeumt8 {
    max-width: 920px;
    width: calc(100% - 32px);
    margin: 0px auto;
  }
  .css-1igbm66 {
    position: absolute;
    top: 0px;
    bottom: 0px;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 0px 8px;
    left: 0px;
  }
  .css-18p135f {
    color: rgb(13, 41, 85);
    background-color: rgb(250, 250, 251);
    border: 1px solid rgb(217, 221, 228);
    width: 100%;
    transition: color 0.2s ease 0s, background-color 0.2s ease 0s,
      border-color 0.2s ease 0s, box-shadow 0.2s ease 0s;
    padding: 10px 8px 10px 56px;
    min-height: 64px;
    height: 64px;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -0.45px;
    line-height: 27px;
  }
  .css-6j0vez {
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    font-size: 15px;
    padding: 0px 12px;
    border: 1px solid transparent;
    border-radius: 2px;
    text-decoration: none;
    text-align: center;
    user-select: none;
    cursor: pointer;
    min-width: 80px;
    transition: color 0.2s ease 0s, background-color 0.2s ease 0s,
      border-color 0.2s ease 0s;
    min-height: 40px;
    line-height: 32px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 85, 217);
    position: absolute;
    top: 12px;
    right: 12px;
    width: 110px;
  }
  
 .sidebar {
    // @extend %sections;
     
    .list-group {
        border: 0;
        border-radius: 0;


        a {
            text-decoration: none;
            color: rgba(0, 0, 0, 0.8);

        }

        .list-group-itemx {
            cursor: pointer;
            // height: 50px;
            list-style: none;
            margin-left: 10px;
            margin-top: 5px;
          
            border: none;
            border-bottom:1px solid #ebedf0;

            &:hover {
                background: #f7faff;

            }
        }
        .list-height{
            height: 100px;
        }
       

       
    }

    .sidebar__fonts {
        margin: 20px;

        h6 {
            font-weight: 700;
        }

        p {
            color: grey;
            font-size: 14px;
        }
    }
}