.ContactUsbodyContact {
    display: flex;
    align-items: center;
    justify-content: center;
}
.ContactUsBody
{
    text-align: left;
    margin-top: 3%; 
    font-weight: bold;
}
.ContactUsheader {
    font-size: 20px;
    margin-bottom: 20px;
}
.ContactUsImage
{
    width:13%; 
    margin-left: 25%; 
    margin-top: 2%;
}
.ContactUsRobotDiv
{
    width: 63%; 
    height: 120% ;
    background-color: rgb(226, 224, 224);
}
.ContactUsRoboInput
{
    font-size: 20px;
}
.ContactUsRobotLabel
{
    font-size:15px ;
}