$bg-color: #f5f6f7;
$active-color:#0055d9;
$app_gray_color: #4d6182;
$jobs-title-color: rgb(0, 85, 217);
$job-details__icons-color: rgb(77, 97, 130);
$icon-fill-color:rgb(0, 85, 217);
$company-name-color:rgb(0, 20, 51);
$app-onclick-Border-bottom:1px solid rgb(38, 123, 255);
$edit-profile-section-title: rgb(0, 20, 51);
$edit-profile-section-inputs:rgb(51, 75, 111);
$edit-profile-sideBorder:1px solid #ebedf0;
$edit-profile-side-border-left: 4px solid rgb(56, 56, 212);
$edit-profile-side-bgHover:#f7faff;
$navbar-side:#001433;
$light-gray  :rgb(217, 221, 228);
$footer-bg: #001433;