.layout {
    background-image: url("./../../../public/signin-bg-2e90b9bf0eb96dcf489b0c00bfa7b35e.jpg");
    background-size: cover;
    height: 100vh;
    
    background-repeat: no-repeat;

    h1 {
      font-size: 70px;
    }
    .form__a{
      cursor: pointer;
    }
  }
  